{% extends "::layout/layout.html.twig" %}

{% block body %}
    <section id="sec">
        <p>-</p>
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8 fond">
            <br>
            <h1>Liste des activités validées</h1>
            <br>
            <div class="well">
                <div class="row">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="col-lg-6">
                        {{ form_row(form.activityName) }}
                        {{ form_row(form.date) }}

                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.description) }}
                        {{ form_row(form.price) }}
                        <input type="submit" class="btn btn-danger" value="Send"/>

                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
            </div>
    </section>
{% endblock %}