{% extends "::layout/layout.html.twig" %}

{% block body %}
    <section id="sec">
        <p>-</p>
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8 fond">
                {% if is_granted("ROLE_MODERATOR") %}
                    <a class="btn btn-danger" href="{{ path('list_activity') }}">Gérer les activités</a>
                {% endif %}


                <br>
                <h1>Liste des activités</h1>
                <br>

                <div class="col-lg-12">

                    {% for activity in listValidActivity %}
                        <h3><strong> {{ activity.activityName }}
                                : {{ activity.date|date("m/d/Y")|date('Y-m-d') }}</strong></h3>
                        <h4>{{ activity.description }}</h4>
                        {% if activity.price == 0 %}
                            <h4><p>
                                    L'activité est <strong>gratuite</strong></p></h4>
                        {% else %}
                            <h4><p> Le prix est de :
                                    {{ activity.price }} €</p></h4>
                        {% endif %}


                        <h4><a class="btn btn-danger" href="{{ path('add_photo', {'activityId' : activity.id}) }}">Détails
                                de l'activité</a> <a class="btn btn-danger" href="">Participer à l'activité</a></h4>

                        <br>

                    {% endfor %}

                    <h4><a class="btn btn-danger" href="{{ path('create_activity') }}">Soumettre une activité</a></h4>

                </div>

            </div>
        </div>
    </section>

{% endblock %}